# Copyright 2025 Analog Devices, Inc
# SPDX-License-Identifier: Apache-2.0

config MBOX_ADI_MAX32_SEMAPHORE
	bool "ADI MAX32 semaphore mailbox driver"
	default y
	depends on DT_HAS_ADI_MBOX_MAX32_SEMAPHORE_ENABLED
	help
	  Driver for ADI MAX32 Semaphore peripheral mailbox
	  functionality.
